<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="blured-back display-none" id="blured-back"></div>
    <nav class="simply-nav">
      <div class="back-and-ll">
        <a class="nav-icon" href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="pll-info">
          <h1 class="pll-name"> <%= contrato.landlord.name + ' ' + contrato.landlord.lastName %> </h1>
          <p class="pll-section">/ <%= title %> </p>
        </div>
      </div>
      <div>
        <a class="nav-icon lupa" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
    <main>
      <section class="ll-main-info">
        <p><%= contrato.startDate %> </p>
        <p><%= contrato.endDate %> </p>
        <p>$<%= contrato.initialPrice %> </p>
        <p><%= contrato.tenant.name + ' ' + contrato.tenant.lastName %> </p>
        <p><%= contrato.property.streetName + ' ' + contrato.property.streetNumber + ' ' + contrato.property.apartment %> </p>
      </section>
      <section class="dash-menu">
        <a href="" class="dash-menu-item" id="rentButton">
          Pago
        </a>
      </section>
      <section>
        <form class="window display-none" action="/payments/create" method="POST" id="createRentForm">
            <label for="mes">Mes:
                <input type="number" name="mes" id="mes">
            </label>
            <label for="anio">Año:
                <input type="number" name="anio" id="anio" value="<%= aux.currentYear() %>">
            </label>
            <label for="amount">Monto:
                <input type="number" name="amount" id="amount">
            </label>
            <label for="details">Detalles:
              <input type="text" name="details" id="details">
            </label>
            <button type="submit">Crear</button>
        </form>
      </section>
      <section class="rent-section">
        <div>
          <a href="">Ver todo</a>
        </div>
        <% transaccionesPorFecha.forEach(opDelMes => { %> 
          <% let fecha = new Date(opDelMes.period) %> 
          <% let mes = fecha.getMonth() + 1 %> 
          <% let año = fecha.getFullYear() %>
            <div class="rent-card" id="rent-card">
              <div class="rc-main-info-group" id="rc-main-info-group">
                <div>
                  <div class="rc-mi-info" id="rc-mi-info">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <div>
                      <p class="bold rc-mi-date" id="rc-mi-date"><%= aux.numberToMonth(mes) + " " + año %></p>
                      <p id="rc-mi-total"><%= aux.pesos.format(opDelMes.total) %> </p>
                    </div>
                  </div>
                </div>
                <div class="rc-mi-right-group">
                  <p class="rc-mi-count" id="rc-mi-count"><%= opDelMes.cantidad %> </p>
                  <i class="fa-solid fa-angle-down rc-mi-arrow" id="drop-down-arrow"></i>
                </div>
              </div>
              <div class="rent-card-detail" id="rent-card-detail">
                <div class="rcd-concepts" id="rcd-concepts">
                  <% let detalle = transacciones.filter(t => t.period == opDelMes.period) %>
                  <% let total = 0 %> 
                  <table>
                    <% detalle.forEach(concepto => { %>
                    <% total += parseFloat(concepto.amount) %> 
                      <tr class="rent-card-detail-item">
                        <td class="rcd-concept-column"><%= concepto.name %>:</td>
                        <div class="t-options-group">
                          <td><%= aux.pesos.format(concepto.amount) %></td>
                          <form action="/transactions/<%= concepto.id %>/delete?_method=DELETE" method="POST">
                            <td>
                              <button class="btn-transparent" type="submit">
                                <i class="fa-solid fa-circle-minus t-options-delete"></i>
                              </button>
                            </td>
                          </form>
                        </div>
                      </tr>
                    <% }) %>
                    <tr>
                      <td class="bold text-align-right rcd-concept-column">Total:</td>
                      <td class="bold text-align-right rcd-total"><%= aux.pesos.format(total) %></td>
                    </tr>
                  </table>
                </div>
                <div id="rcd-actions">
                  <button class="rcd-btn">Pagar</button>
                </div>
              </div>
        <% }) %> 
        </div>
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="/js/contractBalance.js"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->