<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <nav class="simply-nav">
      <div class="back-and-ll">
        <a class="nav-icon" href="/contracts/"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="pll-info">
          <h1 class="pll-name"> <%= propietario.name + ' ' + propietario.lastName %> </h1>
          <p class="pll-section">/ Contratos</p>
        </div>
      </div>
      <div>
        <a class="nav-icon" href="/contracts/create"><i class="fa-solid fa-plus"></i></a>
        <a class="nav-icon lupa" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
    <main>
      <section class="">
        <p><%= contrato.startDate %> </p>
        <p><%= contrato.endDate %> </p>
        <p>$<%= contrato.initialPrice %> </p>
        <p><%= contrato.tenant.name + ' ' + contrato.tenant.lastName %> </p>
        <p><%= contrato.property.streetName + ' ' + contrato.property.streetNumber + ' ' + contrato.property.apartment %> </p>
      </section>
      <section>
        <form action="/rents/create" method="POST">
            <label for="initialDate">Fecha de inicio:
                <input type="date" name="initialDate" id="initialDate">
            </label>
            <label for="duration">Duración:
                <input type="number" name="duration" id="duration">
            </label>
            <label for="amount">Monto:
                <input type="number" name="amount" id="amount">
            </label>
            <button type="submit">Crear</button>
        </form>
      </section>
      <section class="rent-section">
        <div>
          <a href="">Ver todo</a>
        </div>
        <div>
          <% rentas.forEach(renta => { %> 
          
              <div class="rent-card">
                  <p><%= renta.dueDate %></p>
                  <p>$<%= renta.amount %></p>
              </div>
  
          <% }) %> 
        </div>
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->