<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/smallNav') %> 
    <main>
      <section>
        <form action="">
          <input class="search-box display-none" type="text" name="" id="search-box" placeholder="Buscar...">
        </form>
      </section>
      <section class="properties-cards-group">
        <ul class="property-cards-list" id="property-cards-list">
          <% contratos.forEach(contrato => { %>
            <li>
              <div class="property-card">
                <div class="p-card-description">
                  <i class="fa-solid fa-file-contract card-icon"></i>
                  <div>
                    <div id="cd-text">
                      <p class="bold">
                        <%= contrato.tenant.name + ' ' + contrato.tenant.lastName %>
                      </p>
                      <p>
                        <%= contrato.property.streetName + ' ' +
                        contrato.property.streetNumber + ' ' +
                        contrato.property.apartment %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="property-card-actions">
                  <a href="/contracts/<%= contrato.id %>">
                    <i class="fa-solid fa-arrow-right card-right-arrow"></i>
                  </a>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <footer></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script src="/js/contractsForLandlord.js"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->
