<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="blured-back display-none" id="blured-back"></div>
    <nav class="simply-nav">
      <div class="back-and-ll">
        <a class="nav-icon" href="/contracts/"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="pll-info">
          <h1 class="pll-name"> <%= contrato.landlord.name + ' ' + contrato.landlord.lastName %> </h1>
          <p class="pll-section">/ Contratos</p>
        </div>
      </div>
      <div>
        <a class="nav-icon" href="/contracts/create"><i class="fa-solid fa-plus"></i></a>
        <a class="nav-icon lupa" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
    <main>
      <section class="ll-main-info">
        <p><%= contrato.startDate %> </p>
        <p><%= contrato.endDate %> </p>
        <p>$<%= contrato.initialPrice %> </p>
        <p><%= contrato.tenant.name + ' ' + contrato.tenant.lastName %> </p>
        <p><%= contrato.property.streetName + ' ' + contrato.property.streetNumber + ' ' + contrato.property.apartment %> </p>
      </section>
      <section class="dash-menu">
        <a href="" class="dash-menu-item" id="rentButton">
          Rentas
        </a>
        <a href="" class="dash-menu-item" id="expenseButton">
          Cargas
        </a>
      </section>
      <section>
        <form class="window display-none" action="/rents/create" method="POST" id="createRentForm">
            <label for="initialDate">Fecha de inicio:
                <input type="date" name="initialDate" id="initialDate">
            </label>
            <label for="duration">Duraci칩n:
                <input type="number" name="duration" id="duration">
            </label>
            <label for="amount">Monto:
                <input type="number" name="amount" id="amount">
            </label>
            <button type="submit">Crear</button>
        </form>
        <form class="window display-none" action="/expenses/create" method="POST" id="createExpenseForm">
            <label for="initialDate">Fecha de inicio:
                <input type="date" name="initialDate" id="initialDate">
            </label>
            <label for="duration">Duraci칩n:
                <input type="number" name="duration" id="duration">
            </label>
            <label for="name">Nombre:
              <input type="text" name="name" id="name">
            </label>
            <label for="amount">Monto:
                <input type="number" name="amount" id="amount">
            </label>
            <label for="coeff">Coeficiente:
                <input type="number" name="coeff" id="coeff">
            </label>
            <button type="submit">Crear</button>
        </form>
      </section>
      <section class="rent-section">
        <div>
          <a href="">Ver todo</a>
        </div>
        <% transaccionesPorFecha.forEach(opDelMes => { %> 
          <% let fecha = new Date(opDelMes.date) %> 
          <% let mes = fecha.getMonth() + 1 %> 
          <% let a침o = fecha.getFullYear() %>
            <div class="rent-card" id="rent-card">
              <div class="rc-main-info-group" id="rc-main-info-group">
                <div>
                  <div class="rc-mi-info" id="rc-mi-info">
                    <i class="fa-solid fa-sack-dollar"></i>
                    <div>
                      <p class="bold"><%= mes + " - " + a침o %></p>
                      <p>$<%= opDelMes.total %> </p>
                    </div>
                  </div>
                </div>
                <div>
                  <i class="fa-solid fa-arrow-down" id="drop-down-arrow"></i>
                </div>
              </div>
              <div class="rent-card-detail" id="rent-card-detail">
                <% let detalle = transacciones.filter(t => t.date == opDelMes.date) %>
                <% let total = 0 %> 
                <% detalle.forEach(concepto => { %>
                <% total += parseFloat(concepto.amount) %> 
                  <div class="rent-card-detail-item">
                    <p><%= concepto.name %> </p>
                    <p><%= concepto.amount %> </p>
                  </div>
                <% }) %>
                <p class="bold text-align-right">Total: $<%= parseFloat(total) %></p>
              </div>
          <% }) %> 
        </div>
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="/js/contractDashboard.js"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->