<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <nav class="simply-nav">
      <div class="back-and-ll">
        <a class="nav-icon" href="/landlords/"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="pll-info">
          <h1 class="pll-name"> <%= propietario.name + ' ' + propietario.lastName %> </h1>
          <p class="pll-section">/ Dashboard</p>
        </div>
      </div>
    </nav>
    <main>
      <section class="ll-main-info">
        <figure class="ll-main-photo">
          <img src="/images/landlordsProfile/<%= propietario.profilePhoto %>" alt="Foto">
        </figure>
        <h1 class="ll-name"> <%= propietario.name + ' ' + propietario.lastName %>  </h1>
        <p class="ll-phone"><%= propietario.phone %></p>
      </section>
      <div class="dash-menu">
          <a class="" href="/properties">
            <i class="dash-menu-item fa-solid fa-building"></i>
            Propiedades
          </a>
          <a class="" href="/tenants">
            <i class="dash-menu-item fa-solid fa-users-between-lines"></i>
            Inquilinos
          </a>
          <a class="" href="/contracts">
            <i class="dash-menu-item fa-regular fa-file-lines"></i>
            Contratos
          </a>
      </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
