<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/navbar') %>
    <main class="form-group">
        <form class="window" action="/landlords/create" method="POST" enctype="multipart/form-data">
            <h1 class="">Nuevo propietario</h1>
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </symbol>
            </svg>
            <% if (locals && locals.errors) { %>
                <div class="alert alert-danger" role="alert">
                    <% for ( let error in errors ) { %>
                        <div>
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <%= errors[error].msg %>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <input class="w-element" type="text" name="name" id="name" placeholder="Nombre" value='<%= locals.oldData && oldData.name ? oldData.name : null %>'>
            <input class="w-element" type="text" name="lastName" id="lastName" placeholder="Apellido" value='<%= locals.oldData && oldData.lastName ? oldData.lastName : null %>'>
            <input class="w-element" type="email" name="email" id="email" placeholder="Email" value='<%= locals.oldData && oldData.email ? oldData.email : null %>'>
            <label class="w-element" for="birthDate">Fecha de nacimiento:
                <input class="w-element" type="date" name="birthDate" id="birthDate" value='<%= locals.oldData && oldData.birthDate ? oldData.birthDate : null %>'>
            </label>
            <input class="w-element" type="text" name="streetName" id="streetName" placeholder="Calle" value='<%= locals.oldData && oldData.streetName ? oldData.streetName : null %>'>
            <input class="w-element" type="text" name="streetNumber" id="streetNumber" placeholder="Altura" value='<%= locals.oldData && oldData.streetNumber ? oldData.streetNumber : null %>'>
            <input class="w-element" type="text" name="city" id="city" placeholder="Ciudad" value='<%= locals.oldData && oldData.city ? oldData.city : null %>'>
            <input class="w-element" type="text" name="province" id="province" placeholder="Provincia" value='<%= locals.oldData && oldData.province ? oldData.province : null %>'>
            <input class="w-element" type="text" name="postalCode" id="postalCode" placeholder="Código postal" value='<%= locals.oldData && oldData.postalCode ? oldData.postalCode : null %>'>
            <input class="w-element" type="text" name="phone" id="phone" placeholder="Número de teléfono" value='<%= locals.oldData && oldData.phone ? oldData.phone : null %>'>
            <input class="w-element" type="text" name="whatsapp" id="whatsapp" placeholder="Número de whatsApp" value='<%= locals.oldData && oldData.whatsapp ? oldData.whatsapp : null %>'>
            <button class="continue-btn" type="submit">Crear</button>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>