<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1>Propietarios</h1>
      <div class="landlord-btn-group">
        <% if (propietarios == '') {%> 
          <a class="landlord-btn" href="/landlords/createSelf">Soy propietario</a>
        <% } %> 
        <a class="landlord-btn" href="/landlords/create">Crear nuevo propietario</a>
      </div>
      <h2>Lista</h2>
      <% propietarios.forEach(propietario => { %> 
        <div class="landlord-card">
          <figure>
            <img src="" alt="Foto">
          </figure>
          <p class="ll-card-item"><%= propietario.name + ' ' + propietario.lastName %></p>
          <p class="ll-card-item"><%= propietario.email %></p>
          <p class="ll-card-item"><%= propietario.phone %></p>
          <a href="">Ver</a>
        </div>
      <% }) %> 
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
