<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/smallNav') %> 
    <main>
      <section class="ll-main-info">
        <figure class="ll-main-photo">
          <img src="/images/landlordsProfile/<%= propietario.profilePhoto %>" alt="Foto">
        </figure>
        <h2 class="ll-name"> <%= propietario.name + ' ' + propietario.lastName %>  </h2>
        <p class="ll-phone"><%= propietario.phone %></p>
      </section>
      <section>
        <h2>Menu</h2>
        <div class="dash-menu">
            <a class="" href="/properties">
              <i class="dash-menu-item fa-solid fa-building"></i>
              <p>Propiedades</p>
            </a>
            <a class="" href="/tenants">
              <i class="dash-menu-item fa-solid fa-users-between-lines"></i>
              <p>Inquilinos</p>
            </a>
            <a class="" href="/contracts">
              <i class="dash-menu-item fa-regular fa-file-lines"></i>
              <p>Contratos</p>
            </a>
        </div>
      </section>
      <section class="dash-section">
        <h2>Rentas</h2>
        <a href="/contracts/search" class="dash-card" id="dash-card">
          <div>
            <i class="fa-solid fa-magnifying-glass dc-icon"></i>
          </div>
          <div>
            <p class="dc-title">Estado de cuenta</p>
            <p class="dc-subtitle">Rentas pendiendas a la fecha</p>
          </div>
        </a>
      </section>
      <section class="dash-section">
        <h2>Propietario</h2>
        <a href="/contracts/search" class="dash-card" id="dash-card">
          <div>
            <i class="fa-solid fa-magnifying-glass dc-icon"></i>
          </div>
          <div>
            <p class="dc-title">Ver</p>
            <p class="dc-subtitle">Información de este propietario</p>
          </div>
        </a>
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
