<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body class="paymentReceipt">
    <nav class="simply-nav">
      <div class="back-and-ll">
        <a class="nav-icon" href="/contracts/<%= contractId %> "><i class="fa-solid fa-arrow-left"></i></a>
        <div class="pll-info">
          <p class="pll-section"><%= title %></p>
        </div>
      </div>
    </nav>
    <main>
      <h1>Recibo</h1>
      <section>
        <p>Fecha de pago</p><h3><%= receipt.paymentDateString %> </h3>
        <p>Recibimos de</p><h3><%= receipt.tenantName %> </h3>
        <p>la suma de pesos</p><h3><%= aux.pesos.format(receipt.amount) %> </h3>
        <p>en concepto de alquiler por</p><h3><%= receipt.propertyType %> </h3>
        <p>ubicado en</p><h3><%= receipt.propertyAdress %> </h3><h3><%= receipt.propertyLocation %> </h3>
        <p>correspondiente al mes de </p><h3><%= aux.numberToMonth(receipt.periodMonth) %> de <%= receipt.periodYear %> </h3>
      </section>
      <section>
        <h2>Conceptos</h2>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
