<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1> <%= propietario.name + ' ' + propietario.lastName %>  </h1>
      <h2> <%= propietario.phone %>  </h2>
      <div class="landlord-btn-group">
        <a class="landlord-btn" href="/properties/create">Nueva propiedad</a>
      </div>
      <section class="properties-cards-group">
        <% propiedades.forEach(propiedad => { %> 
          <div class="property-card">
            <figure class="property-photo">
              <img src="/images/propertiesPhoto/<%= propiedad.propertyPhoto %>" alt="Foto">
            </figure>
            <div>
              <p class="p-card-item property-adress"><%= propiedad.streetName + ' ' + propiedad.streetNumber %></p>
              <% if(propiedad.postalCode) { %> 
                <p class="p-card-item property-city"><%= propiedad.city + ', ' + propiedad.province + ' (' + propiedad.postalCode + ')' %></p>
              <% } else { %> 
                <p class="p-card-item property-city"><%= propiedad.city + ', ' + propiedad.province %></p>
              <% } %>
            </div>
            <div>
              <a href="/properties/edit/<%= propiedad.id %>">Editar</a>
            </div>
          </div>
        <% }) %> 
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->