<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/smallNav') %> 
    <main>
      <section class="properties-cards-group">
        <% propiedades.forEach(propiedad => { %> 
          <div class="property-card">
            <div class="p-card-description">
              <i class="property-icon fa-solid fa-house"></i>
              <div>
                <p class="p-card-item property-adress"><%= propiedad.streetName + ' ' + propiedad.streetNumber + ' ' + propiedad.apartment %></p>
                <% if(propiedad.postalCode) { %> 
                  <p class="p-card-item property-city"><%= propiedad.city + ', ' + propiedad.province + ' (' + propiedad.postalCode + ')' %></p>
                <% } else { %> 
                  <p class="p-card-item property-city"><%= propiedad.city + ', ' + propiedad.province %></p>
                <% } %>
              </div>
            </div>
            <a class="nav-icon" href="/properties/<%= propiedad.id %>/detail">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        <% }) %> 
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->