<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/smallNav') %>
    <main>
      <section class="propertyMainInfo">
        <figure class="propertyPhoto">
          <img
            src="/images/propertiesPhoto/<%= propiedad.propertyPhoto %>"
            alt="Foto" />
        </figure>
        <h2 class="ll-name">
          <%= propiedad.streetName + ' ' + propiedad.streetNumber + ' ' +
          propiedad.apartment %>
        </h2>
        <p><%= propiedad.type %> </p>
        <% if(propiedad.postalCode) { %>
        <p>
          <%= propiedad.city + ', ' + propiedad.province + ' (' +
          propiedad.postalCode + ')' %>
        </p>
        <% } else { %>
        <p>
          <%= propiedad.city + ', ' + propiedad.province %>
        </p>
        <% } %>
        <form action="/properties/<%= propiedad.id %>/edit" method="get">
            <button class="primaryBtn" type="submit">Editar</button>
        </form>
        <form action="/properties/<%= propiedad.id %>/delete?_method=DELETE" method="post">
            <button class="secondaryBtn" type="submit">Eliminar</button>
        </form>
      </section>
    </main>
    <footer></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"></script>
  </body>
</html>
