<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <section class="pll-info">
        <figure class="pll-photo">
          <img src="/images/landlordsProfile/<%= propietario.profilePhoto %>" alt="Foto">
        </figure>
        <h1 class="pll-name"> <%= propietario.name + ' ' + propietario.lastName %> </h1>
        <p class="pll-section">/ Inquilinos</p>
      </section>
      <section class="landlord-btn-group">
        <a class="landlord-btn" href="/landlords/dashboard/<%= propietario.id %>">Menu</a>
        <a class="landlord-btn" href="/inquilino/create">Nuevo inquilino</a>
      </section>
      <section>
        Lista de inquilinos aquí
      </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>

<!--
  --- Atribuciones---

  Home button icons created by Kiranshastry - Flaticon
-->